@using SamCar472.Application.Features.Mediator.Results.CommentResults
@model List<GetCommentListByBlogQueryResult>

<div class="comment">
    <div class="comment-count">
        <h2>@ViewBag.blogCount Yorum</h2>
    </div>
    <div class="row mb-3">

        @foreach (var item in Model)
        {
            <div class="col-md-1">
                <div class="comment-user-image">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="col-md-11">
                <div class="comment-user-name">
                    <h4>@item.Name</h4>
                </div>
                <div class="comment-date">
                    <h6>@item.CreatedTime.ToShortDateString()</h6>
                </div>
                <div class="comment-description">
                    <p>
                        @item.Description
                    </p>
                </div>
            </div>
        }

        @if(@ViewBag.blogCount == 0){
            <h5 style="margin-left: 20px;">Bu bloğa henüz yorum yapılmamıştır.</h5>
        }

    </div>

    <div class="leave-comment bg-light">
        <h2 class="mb-5">Bir Yorum Bırakın</h2>
        <form asp-controller="Blog" asp-action="AddComment" method="post">
            <input type="hidden" name="BlogID" value="@ViewBag.blogId" />
            <div class="form-group">
                <label>Adınız</label>
                <input type="text" name="Name" class="form-control">
            </div>
            <div class="form-group">
                <label>Email Adresiniz</label>
                <input type="email" name="Email" class="form-control">
            </div>
            <div class="form-group">
                <label>Yorumunuz</label>
                <textarea class="form-control" name="Description" rows="2"></textarea>
            </div>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>

</div>